{% extends 'base_template.html' %}
{% load static %}

{% block content %}
	
	<!-- Page main content START -->
	<div class="page-content-wrapper border">

		<!-- Title -->
		<div class="row">
			<div class="col-12 mb-3">
				<h1 class="h3 mb-2 mb-sm-0">Profile</h1>
			</div>
		</div>

		<div class="row g-4">
			<!-- Left side START -->
			<div class="col-xl-3 shadow">
				<!-- Tab START -->
		
                <ul class="nav nav-pills nav-tabs-bg-light flex-column">
                    {% for i in user%}
                    <img class="avatar-img rounded-circle shadow mt-3"
                     style="width: 175px;margin-left: 5rem;" src="/media/{{i.profile_pic}}" alt="avatar">                                                                 
                    <h5  class="" style="margin-left: 3rem;margin-top: 1rem;">
                        {% endfor %}
                       &nbsp;</h5>
                </ul>
                <div class="row">
                    {% if request.user  %}
                    {% for i in user %}
                    <div class="col-12"><br>
                       <th><tr><dt>Username:- {{i.username}}</dt></tr></th> 
                    </div>
                    <div class="row">

                    <div class="col-12"><br>
                        <th><tr><dt>First_Name:- {{i.first_name}} </dt></tr></th> 
                    </div>
                </div>
                <div class="row">

                    <div class="col-12"> <br>
                        <th><tr><dt>Last_Name:- {{i.last_name}} </dt></tr></th>
                    </div>
                </div>
                <div class="row">

                    <div class="col-12"><br>
                        <th><tr><dt>Email:- {{i.email}} </dt></tr></th> 
                    </div>
                </div>
{% endfor %}

{% else %}
<h1>No data</h1>

{% endif %}


                    
                </div>
              
			

			</div>
			<!-- Left side END -->

			<!-- Right side START -->
		<div class="col-xl-9">

				<!-- Tab Content START -->
				<div class="tab-content">
					<!-- Personal Information content START -->
					<div class="tab-pane show active" id="tab-1">
						<div class="card shadow">
							<!-- Card header -->
							<div class="card-header border-bottom">
								<!-- <h5 class="card-header-title">{{request.user | capfirst }} </h5> -->
							</div>

							<!-- Card body START -->
					
							<!-- Card body END -->
                          

                          
                            <div class="card bg-transparent border">
                            

<div class="card bg-transparent border">

    <!-- Card header START -->
    {% include 'includes/messages.html' %}
    <div class="card-header bg-light border-bottom">
        <h5 class="mb-0">All Student Data</h5>
    </div>
    <!-- Card header END -->

    <!-- Card body START -->
    <div class="card-body pb-0">
        <!-- Table START -->
        <div class="table-responsive border-0">
            <table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
                <!-- Table head -->
                <thead>
                    <tr>
                        {% comment %} <th scope="col" class="border-0">#No</th> {% endcomment %}
                        
                        <th scope="col" class="border-0 rounded-start">Student Name</th>
                        <th scope="col" class="border-0">Email</th>
                        <th scope="col" class="border-0">Course</th>
                        <th scope="col" class="border-0">Gender</th>
                        <th scope="col" class="border-0">Address</th>
                        <th scope="col" class="border-0">Session Year</th>
                        <th scope="col" class="border-0">Created_at</th>
                        <th scope="col" class="border-0">Updated_at</th>
                        <th scope="col" class="border-0 rounded-end">Action</th>
                    </tr>
                </thead>

                <!-- Table body START -->
                <tbody>
                    {% for i in student %}
                    <!-- Table row -->
                    <tr>
                        
                        <!-- Table data -->
                        <td>
                            <div class="d-flex align-items-center position-relative">
                                <!-- Image -->
                                <div class="avatar avatar-xs mb-2 mb-md-0">
                                    <img src="/media/{{i.profile_img}}" class="rounded-circle" alt="">
                                </div>
                                <div class="mb-0 ms-2">
                                    <!-- Title -->
                                    <h6 class="mb-0"><a href="#" class="stretched-link">{{i.admin.first_name}}&nbsp;{{i.admin.last_name}}</a></h6>
                                </div>
                            </div>
                        </td>

                        <td class="text-center text-sm-start">
                            <h6 class="mb-0">{{i.admin.email}}</h6>
                        </td>
                        

                        <td class="text-center text-sm-start">
                            <h6 class="mb-0">{{i.course_id.name}}</h6>
                        </td>
                        

                        <td class="text-center text-sm-start">
                            <h6 class="mb-0">{{i.gender}}</h6>
                        </td>
                        

                        <td class="text-center text-sm-start">
                            <h6 class="mb-0">{{i.address}}</h6>
                        </td>

                        <td class="text-center text-sm-start">
                            <h6 class="mb-0">{{i.session_year_id.session_start}} To {{i.session_year_id.session_end}}</h6>
                        </td>
                        

                        

                        <td class="text-center text-sm-start">
                            <h6 class="mb-0">{{i.created_at}}</h6>
                        </td>
                        

                        <td class="text-center text-sm-start">
                            <h6 class="mb-0">{{i.updated_at}}</h6>
                        </td>
                        


                        <td>
                            <a href="{% url 'edit_student' i.id %}" class="btn btn-sm btn-info-soft mb-0">Edit</a>
                            <a href="{% url 'delete_student' i.admin.id %}"><button class="btn btn-sm btn-danger-soft me-1 mb-1 mb-md-0">Delete</button></a>
                        </td>

                        <!-- Table data -->
                       

                        <!-- Table data -->
                       
                    </tr>
                    {% endfor %}

        
                </tbody>
                <!-- Table body END -->
            </table>
        </div>
        <!-- Table END -->
    </div>
    <!-- Card body END -->

    <!-- Card footer START -->
    <div class="card-footer bg-transparent">
        <!-- Pagination START -->
        <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
            <!-- Content -->
            <p class="mb-0 text-center text-sm-start">Showing 1 to 8 of 20 entries</p>
            <!-- Pagination -->
            <nav class="d-flex justify-content-center mb-0" aria-label="navigation">
                <ul class="pagination pagination-sm pagination-primary-soft mb-0 pb-0">
                    <li class="page-item mb-0"><a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-left"></i></a></li>
                    <li class="page-item mb-0"><a class="page-link" href="#">1</a></li>
                    <li class="page-item mb-0 active"><a class="page-link" href="#">2</a></li>
                    <li class="page-item mb-0"><a class="page-link" href="#">3</a></li>
                    <li class="page-item mb-0"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
                </ul>
            </nav>
        </div>
        <!-- Pagination END -->
    </div>
    <!-- Card footer END -->
</div>
<br>


                                <!-- Card header START -->
                                {% include 'includes/messages.html' %}
                                <div class="card-header bg-light border-bottom">
                                    <h5 class="mb-0">All Instructor Data</h5>
                                </div>
                                <!-- Card header END -->
                            
                                <!-- Card body START -->
                                <div class="card-body pb-0">
                                    <!-- Table START -->
                                    <div class="table-responsive border-0">
                                        <table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
                                            <!-- Table head -->
                                            <thead>
                                                <tr>
                                                    {% comment %} <th scope="col" class="border-0">#No</th> {% endcomment %}
                                                    
                                                    <th scope="col" class="border-0 rounded-start">Instructor Name</th>
                                                    <th scope="col" class="border-0">Email</th>
                                                    <!-- <th scope="col" class="border-0">Course</th> -->
                                                    <th scope="col" class="border-0">Gender</th>
                                                    <th scope="col" class="border-0">Qualification</th>

                                                    <th scope="col" class="border-0">Address</th>
                                                    <!-- <th scope="col" class="border-0">Session Year</th> -->
                                                    <th scope="col" class="border-0">Created_at</th>
                                                    <th scope="col" class="border-0">Updated_at</th>
                                                    <th scope="col" class="border-0 rounded-end">Action</th>
                                                </tr>
                                            </thead>
                            
                                            <!-- Table body START -->
                                            <tbody>
                                                {% for i in instructor %}
                                                <!-- Table row -->
                                                <tr>
                                                    
                                                    <!-- Table data -->
                                                    <td>
                                                        <div class="d-flex align-items-center position-relative">
                                                            <!-- Image -->
                                                            <div class="avatar avatar-xs mb-2 mb-md-0">
                                                                <img src="/media/{{i.profile_image}}" class="rounded-circle" alt="">
                                                            </div>
                                                            <div class="mb-0 ms-2">
                                                                <!-- Title -->
                                                                <h6 class="mb-0"><a href="#" class="stretched-link">{{i.admin.first_name}}&nbsp;{{i.admin.last_name}}</a></h6>
                                                            </div>
                                                        </div>
                                                    </td>
                            
                                                    <td class="text-center text-sm-start">
                                                        <h6 class="mb-0">{{i.admin.email}}</h6>
                                                    </td>
                                                    
                            
                                                    <!-- <td class="text-center text-sm-start">
                                                        <h6 class="mb-0">{{i.course_id.name}}</h6>
                                                    </td> -->
                                                    
                            
                                                    <td class="text-center text-sm-start">
                                                        <h6 class="mb-0">{{i.gender}}</h6>
                                                    </td>
                                                    <td class="text-center text-sm-start">
                                                        <h6 class="mb-0">{{i.qualification}}</h6>
                                                    </td>
                            
                            
                                                    <td class="text-center text-sm-start">
                                                        <h6 class="mb-0">{{i.address}}</h6>
                                                    </td>
                            
                                                    <!-- <td class="text-center text-sm-start">
                                                        <h6 class="mb-0">{{i.session_year_id.session_start}} To {{i.session_year_id.session_end}}</h6>
                                                    </td> -->
                                                    
                            
                                                    
                            
                                                    <td class="text-center text-sm-start">
                                                        <h6 class="mb-0">{{i.created_at}}</h6>
                                                    </td>
                                                    
                            
                                                    <td class="text-center text-sm-start">
                                                        <h6 class="mb-0">{{i.updated_at}}</h6>
                                                    </td>
                            
                                                    <td>
                                                        <a href="{% url 'edit_instructor' i.id %}" class="btn btn-sm btn-info-soft mb-0">Edit</a>
                                                        <a href="{% url 'delete_instructor' i.admin.id %}"><button class="btn btn-sm btn-danger-soft me-1 mb-1 mb-md-0">Delete</button></a>
                                                    </td>
                            
                                                    <!-- Table data -->
                                                   
                            
                                                    <!-- Table data -->
                                                   
                                                </tr>
                                                {% endfor %}
                            
                                    
                                            </tbody>
                                            <!-- Table body END -->
                                        </table>
                                    </div>
                                    <!-- Table END -->
                                </div>
                                <!-- Card body END -->
                            
                                <!-- Card footer START -->
                                <div class="card-footer bg-transparent">
                                    <!-- Pagination START -->
                                    <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
                                        <!-- Content -->
                                        <p class="mb-0 text-center text-sm-start">Showing 1 to 8 of 20 entries</p>
                                        <!-- Pagination -->
                                        <nav class="d-flex justify-content-center mb-0" aria-label="navigation">
                                            <ul class="pagination pagination-sm pagination-primary-soft mb-0 pb-0">
                                                <li class="page-item mb-0"><a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-left"></i></a></li>
                                                <li class="page-item mb-0"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item mb-0 active"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item mb-0"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item mb-0"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- Pagination END -->
                                </div>
                                <!-- Card footer END -->
                            </div>
                            <br>
                            

                           <!-- MyCode -->
                               <!-- Page main content START -->
                               <div class="card bg-transparent border">
                                <div class="card-header bg-light border-bottom">
                                    <h5 class="mb-0">Course Details</h5>
                                </div>
                                   <!-- Title -->
                                   <!-- <div class="row mb-3">
                                       <div class="col-12 d-sm-flex justify-content-between align-items-center">
                                            <h1 class="h3 mb-2 mb-sm-0">Course Details</h1> -->
                                           
                                           {% comment %} <a href="admin-edit-course-detail.html" class="btn btn-sm btn-primary mb-0">Edit Course</a> {% endcomment %}
                                       </div> 
                                   </div>
                                   {% include 'includes/messages.html' %}
                                           
                                   <div class="row g-4">
                           
                                       
                           
                                       <!-- Chart START -->
                                   
                                       <!-- Chart END -->
                           
                                       <!-- Student review START -->
                                       <div class="col-12">
                                           <div class="card bg-transparent border">
                           
                                               <!-- Card header START -->
                                               
                                               <!-- Card header END -->
                                   
                                               <!-- Card body START -->
                                               <div class="card-body pb-0">
                                                   <!-- Table START -->
                                                   <div class="table-responsive border-0">
                                                       <table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
                                                           <!-- Table head -->
                                                           <thead>
                                                               <tr>
                                                                   
                                                                   <th scope="col" class="border-0 rounded-start">ID</th>
                                                                   <th scope="col" class="border-0">Name</th>
                                                                   <th scope="col" class="border-0">Course Price</th>
                                                                   <th scope="col" class="border-0">Created_at</th>
                                                                   
                                                                   <th scope="col" class="border-0">updated_at</th>
                                                                   <th scope="col" class="border-0 rounded-end">Action</th>
                                                               </tr>
                                                           </thead>
                                   
                                                           <!-- Table body START -->
                                                           <tbody>
                                                               {% for course in course %}
                                                               <!-- Table row -->
                                                               <tr>
                                                                   <!-- Table data -->
                                                                   
                                   
                                                                   <!-- Table data -->
                                                                   <td class="text-center text-sm-start">
                                                                       <h6 class="mb-0">{{course.id}}</h6>
                                                                   </td>
                                                                   <td class="text-center text-sm-start">
                                                                       <h6 class="mb-0">{{course.name}}</h6>
                                                                   </td>
                                                                   <td class="text-center text-sm-start">
                                                                       <h6 class="mb-0">{{course.course_price}}</h6>
                                                                   </td>
                                                                   <td class="text-center text-sm-start">
                                                                       <h6 class="mb-0">{{course.created_at}}</h6>
                                                                   </td>
                                                                   <td class="text-center text-sm-start">
                                                                       <h6 class="mb-0">{{course.updated_at}}</h6>
                                                                   </td>
                                   
                                                                   <!-- Table data -->
                                                                   
                                   
                                                                   <!-- Table data -->
                                                                   <td>
                                                                       <a href="{% url 'edit_course' course.id %}" class="btn btn-sm btn-info-soft mb-0" data-bs-target="#viewReview">Edit</a>
                                                                       <a href="{% url 'delete_course' course.id %}"><button class="btn btn-sm btn-danger-soft me-1 mb-1 mb-md-0">Delete</button></a>
                                                                       
                                                                   </td>
                                                               </tr>
                                   
                                                               <!-- Table row -->
                                                               
                                                               <!-- Table row -->
                                                               
                                                               <!-- Table row -->
                                                               
                                   
                                                               <!-- Table row -->
                                                               {% endfor %}
                                                           </tbody>
                                                           <!-- Table body END -->
                                                       </table>
                                                   </div>
                                                   <!-- Table END -->
                                               </div>
                                               <!-- Card body END -->
                                   
                                               <!-- Card footer START -->
                                               <div class="card-footer bg-transparent">
                                                   <!-- Pagination START -->
                                                   <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
                                                       <!-- Content -->
                                                       <p class="mb-0 text-center text-sm-start">Showing 1 to 8 of 20 entries</p>
                                                       <!-- Pagination -->
                                                       <nav class="d-flex justify-content-center mb-0" aria-label="navigation">
                                                           <ul class="pagination pagination-sm pagination-primary-soft mb-0 pb-0">
                                                               <li class="page-item mb-0"><a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-left"></i></a></li>
                                                               <li class="page-item mb-0"><a class="page-link" href="#">1</a></li>
                                                               <li class="page-item mb-0 active"><a class="page-link" href="#">2</a></li>
                                                               <li class="page-item mb-0"><a class="page-link" href="#">3</a></li>
                                                               <li class="page-item mb-0"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
                                                           </ul>
                                                       </nav>
                                                   </div>
                                                   <!-- Pagination END -->
                                               </div>
                                               <!-- Card footer END -->
                                           </div>
                                       </div>
                                       <!-- Student review END -->
                           
                                   </div> <!-- Row END -->
                               </div>
                               <!-- Page main content END -->
                           
                           </div>
                           <!-- Page content END -->
                           
                           </main>
                           <!-- **************** MAIN CONTENT END **************** -->
                         
                           
                           
                           
                           

                           <!-- EndMycode -->

						</div>			
					</div>
					
				</div>
				<!-- Tab Content END -->
			</div> 
			<!-- Right side END -->
		</div> <!-- Row END -->		
	</div>
	<!-- Page main content END -->
</div>
<!-- Page content END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->


{% endblock  %}